.card {
    flex-basis: 250px;
    background-color: rgba(178, 66, 66, 255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: -250px;
    opacity: 0;
    transition-property: top, opacity;
    transition-duration: 0.5s, 0.3s;
    transition-delay: 0s, 0.1s;
}

.card.on {
    top: 0;
    opacity: 1;
}
